/*html, body {
   width: 100%;
   height: 100%;
}*/

@font-face {
   font-family: HoboStd;
   src: url("../fonts/HoboStd.otf");
}

body {
   overflow-x: hidden;
}

h2 {
   color: cyan;
   margin-left: 25px;
   font-size: 3em;
}

#parallax {
   /*height: 100%;*/
   /*overflow-x: visible;*/
   width: 5350px;
   height: 768px;
   position: fixed;
   top: 0;
   left: 0;
}

/*.post {
   margin-left: 15px;
   position: relative;
   float: left;
   width: 500px;
}*/

#bios-section {
   background-image: url("../img/bios-bkg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   float: left;
   height: 100%;
   width: 1950px;
}

#shows-section {
   background-image: url("../img/shows-bkg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
   float: left;
   height: 100%;
   width: 1400px;
}

#photos-section {
   background-image: url("../img/fan-art-bkg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   float: left;
   height: 100%;
   width: 2000px;
}

#nav-container {
   position: fixed;
   left: 75px;
   top: 600px;
   z-index: 1;
}

#page-links {
   font-family: HoboStd;
   /*color: #b75a01;*/
   color: #dabc5b;
   text-shadow: 4px 4px 4px black;
   font-size: 2.3em;
   position: relative;
   float: left;
   height: inherit;
   padding-top: 10px;
   padding-bottom: 5px;
   margin-left: 115px;
}

#page-links p:hover {
   color: #b75a01;
}

#page-links p {
   position: relative;
   float: left;
   margin-right: 75px;
   vertical-align: middle;
}

#social-container {
   
}

#logo {
   position: relative;
   float: left;
   width: 400px;
}