
@font-face {
   font-family: HoboStd;
   src: url("../fonts/HoboStd.otf");
}

body {
   overflow-x: hidden;
   background-color: black;
}

#parallax {
   width: 4500px;
   height: 768px;
   position: fixed;
   top: 0;
   left: 0;
}

#bios-section {
   position: relative;
   float: left;
   height: 100%;
   overflow: hidden;
   width: 1500px;
}

#bkg-container {
   height: 100%;
   width: 4500px;
}

.bio-bkg {
   width: 1500px;
   overflow: hidden;
   position: absolute;
   left: 0;
   top: 0;
}

.cutout {
   width: 1500px;
   overflow: hidden;
   position: absolute;
   left: 0;
   top: 0;
   transition: transform 0.2s ease-in-out;
}

.cutout-hover-box {
   display: inline-block;
   position: relative;
   z-index: 11;
}

#sean-hover-box {
   left: 0;
   top: 0;
   margin-left: 80px;
   width: 190px;
   height: 500px;
}

.bio-pos-1 {
   border-radius: 10px;
   -ms-border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   background-color: rgba(0,0,0,0.65);
   text-shadow: 4px 4px 4px black;
   opacity: 0;
   font-family: HoboStd;
   color: #dabc5b;
   padding: 10px 15px 10px 15px;
   visibility: hidden;
   position: absolute;
   z-index: 11;
   left: 158px;
   top: 270px;
   width: 205px;
}

.bio-pos-1 p {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 20px;
}

.bio-pos-2 {
   border-radius: 10px;
   -ms-border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   background-color: rgba(0,0,0,0.65);
   text-shadow: 4px 4px 4px black;
   opacity: 0;
   font-family: HoboStd;
   color: #dabc5b;
   padding: 10px 15px 10px 15px;
   visibility: hidden;
   position: absolute;
   z-index: 11;
   left: 695px;
   top: 270px;
   width: 205px;
}

.bio-pos-2 p {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 20px;
}

#graydon-hover-box {
   left: 0;
   top: 0;
   width: 160px;
   height: 500px;
}

#alec-hover-box {
   left: 0;
   top: 0;
   margin-left: 200px;
   width: 155px;
   height: 500px;
}

#mars-hover-box {
   left: 0;
   top: 0;
   width: 170px;
   height: 500px;
}

.bkg-divider {
   z-index: 7;
   position: relative;
   height: 100%;
   left: -150px;
}

.fb_iframe_widget {
   display: block !important;
   position: relative !important;
}

#shows-section {
   background-image: url("../img/shows-bkg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
   float: left;
   height: 100%;
   width: 1600px;
}

#info-section {
   background-image: url("../img/fan-art-bkg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   float: left;
   height: 100%;
   width: 1400px;
}

#nav-container {
   position: fixed;
   left: 75px;
   bottom: 25px;
   z-index: 12;
}

#page-links {
   font-family: HoboStd;
   text-shadow: 4px 4px 4px black;
   font-size: 2.3em;
   position: relative;
   float: left;
   height: inherit;
   padding-top: 10px;
   padding-bottom: 5px;
   margin-left: 115px;
   z-index: 12;
}

#page-links p {
   -o-transition: 0.2s;
   -ms-transition: 0.2s;
   -moz-transition: 0.2s;
   -webkit-transition: 0.2s;
   transition: 0.2s;
}

#page-links a p:hover {
   color: #dabc5b;
}

#page-links a {
   position: relative;
   color: #b75a01;
   text-decoration: none;
   float: left;
   margin-right: 75px;
   vertical-align: middle;
}

#social-container {
   position: fixed;
   right: 75px;
   bottom: 69px;
   z-index: 12;
}

#social-container i {
   color: #dabc5b;
   text-shadow: 4px 4px 4px black;
   margin-right: 25px;
}

#social-hover-box {
   width: 62px;
   height: 48px;
}

#social-hover-box i {
   bottom: 0;
   position: absolute;
   text-align: center;
   margin-right: 0px;
   width: 62px;
   height: 48px;
}

.social-btn {
   transition: transform 0.2s ease-in-out;
   bottom: 0;
   opacity: 0;
   visibility: hidden;
   position: absolute;
}

.social-btn i {
   text-align: center;
   margin-right: 0px;
   width: 62px;
   height: 48px;
}

#facebook-btn i:hover {
   color: #0184ff !important;
   -o-transition: 0.2s;
   -ms-transition: 0.2s;
   -moz-transition: 0.2s;
   -webkit-transition: 0.2s;
   transition: 0.2s;
}

#bandcamp-btn i:hover {
   color: #6199aa !important;
   -o-transition: 0.2s;
   -ms-transition: 0.2s;
   -moz-transition: 0.2s;
   -webkit-transition: 0.2s;
   transition: 0.2s;
}

#snapchat-btn i:hover {
   color: yellow !important;
   -o-transition: 0.2s;
   -ms-transition: 0.2s;
   -moz-transition: 0.2s;
   -webkit-transition: 0.2s;
   transition: 0.2s;
}

#logo {
   position: relative;
   float: left;
   width: 400px;
   z-index: 14;
   
}

#social-feed-scroll-container {
   position: absolute;
   width: 825px;
   top: 0px;
   left: 225px;
   overflow-y: scroll;
   height: 768px;
}

.social-feed-container {
   padding-top: 30px;
   padding-bottom: 100px;
}

.social-feed-element {
   background-color: rgba(255,255,255,0.95) !important;
   border-radius: 10px;
   -ms-border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
}

#band-bio {
   border-radius: 10px;
   -ms-border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   padding: 15px 20px 15px 20px;
   background-color: rgba(0,0,0,0.4);
   font-family: HoboStd;
   position: absolute;
   color: #dabc5b;
   font-size: 22px;
   line-height: 32px;
   text-shadow: 4px 4px 4px black;
   left: 225px;
   top: 40px;
   width: 1025px;
}

#band-contact {
   border-radius: 10px;
   -ms-border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   padding: 15px 20px 15px 20px;
   background-color: rgba(0,0,0,0.4);
   font-family: HoboStd;
   position: absolute;
   color: #dabc5b;
   font-size: 22px;
   line-height: 32px;
   text-shadow: 4px 4px 4px black;
   left: 225px;
   top: 250px;
   width: 1025px;
}

#band-contact a {
   color: #b75a01;
}

#bottom-border-gradient {
   position: fixed;
   top: 618px;
   left: 0px;
   height: 150px;
   z-index: 11;
   background: linear-gradient(rgba(0,0,0,0), black);
}

.bio-name {
   color: #dbcdac;
}

.bio-subtext {
   font-size: 18px !important;
   color: #b75a01;
}

#shows-section-description {
   position: absolute;
   left: 1125px;
   top: 40px;
   width: 215px;
   border-radius: 10px;
   -ms-border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   padding: 15px 20px 15px 20px;
   background-color: rgba(0,0,0,0.4);
   font-family: HoboStd;
   position: absolute;
   color: #dabc5b;
   font-size: 22px;
   line-height: 32px;
   text-shadow: 4px 4px 4px black;
}

.fill-screen {
   position: fixed;
   top: 0px;
   left: 0px;
   background-color: black;
   z-index: 13;
}

#splash-screen {
   width: 2000px;
   height: 2000px;
}

#snapcode-screen {
   display: none;
   opacity: 0;
}

#splash-logo {
   position: fixed;
   top: 50%;
   left: 50%;
   width: 432px;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
}

#snapcode {
   display: none;
   opacity: 0;
   z-index: 14;
   position: fixed;
   top: 30%;
   left: 50%;
   width: 25%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
}

#snapcode-msg {
   display: none;
   opacity: 0;
   z-index: 14;
   width: 100%;
   position: fixed;
   text-align: center;
   top: 60%;
   left: 50%;
   width: 100%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   font-family: HoboStd;
   color: white;
   font-size: 23px;
   text-shadow: 4px 4px 4px black;
}
